@model IEnumerable<portail.Models.Produit>
@{
    ViewBag.Title = "All Categories";
}

<div style="margin: 150px 0px"></div>
<div class="container my-5">
    <div class="row">
        <div class="col-7 mx-auto mb-2">
            Categorie
        </div>
       
    </div>
</div>

